@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 267 100% 97%; /* #F5EEFF */
    --foreground: 274 15% 15%; /* A dark purple */
    --card: 0 0% 100%;
    --card-foreground: 274 15% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 274 15% 15%;
    --primary: 275 69% 54%; /* #8C3DD9 */
    --primary-foreground: 0 0% 100%;
    --secondary: 273 50% 92%;
    --secondary-foreground: 275 69% 40%;
    --muted: 273 30% 94%;
    --muted-foreground: 273 10% 45%;
    --accent: 350 67% 52%; /* #D8304C */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 30% 88%;
    --input: 273 30% 88%;
    --ring: 275 69% 54%;
    --radius: 0.5rem;

    --sidebar-background: 273 50% 92%;
    --sidebar-foreground: 274 15% 15%;
    --sidebar-primary: 275 69% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 275 69% 54%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 273 30% 80%;
    --sidebar-ring: 275 69% 54%;
  }
  .dark {
    --background: 275 10% 8%;
    --foreground: 0 0% 98%;
    --card: 275 10% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 275 10% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 275 69% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 15% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 275 15% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 350 67% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 15% 20%;
    --input: 275 15% 20%;
    --ring: 275 69% 54%;

    --sidebar-background: 275 10% 8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 275 69% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 275 69% 54%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 275 15% 20%;
    --sidebar-ring: 275 69% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
